<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.a8pade8.passwordsaver">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ps3"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".activities.EditRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.WORK" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AddUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AddRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ViewRecordActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>